<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios web para configurar los valores de la aplicación. Utilice
    la opción Sitio web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<connectionStrings>
	<add name="ConexionBaseDatosCD40" connectionString="Server=localhost;Database=CD40;Uid=root;Pwd=cd40;"/>
	<add name="ConexionBaseDatosCD30" connectionString="Server=localhost;Database=CD30;Uid=cd30;Pwd=#picd30#;"/>
</connectionStrings>
