<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClusterSrv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <ClusterSrv.Properties.Settings>
            <setting name="NodeId" serializeAs="String">
                <value>Nodo 1</value>
            </setting>
            <setting name="Ip" serializeAs="String">
                <value>192.168.1.66</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="EpIp" serializeAs="String">
                <value>192.168.1.67</value>
            </setting>
            <setting name="EpPort" serializeAs="String">
                <value>6001</value>
            </setting>
            <setting name="AdapterIp1" serializeAs="String">
                <value>192.168.1.66</value>
            </setting>
            <setting name="AdapterIp2" serializeAs="String">
                <value>192.168.1.66</value>
            </setting>
            <setting name="ClusterIp1" serializeAs="String">
                <value>192.168.1.55</value>
            </setting>
            <setting name="ClusterIp2" serializeAs="String">
                <value>192.168.1.56</value>
            </setting>
            <setting name="ClusterMask1" serializeAs="String">
                <value>255.255.255.0</value>
            </setting>
            <setting name="ClusterMask2" serializeAs="String">
                <value>255.255.255.0</value>
            </setting>
        </ClusterSrv.Properties.Settings>
    </userSettings>
</configuration>