<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sacta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="SactaUsuarioSection">
      <section name="settings" type="SactaSectionHandler.SactaUsuarioSettingsConfigurationHandler" allowLocation="true" allowDefinition="Everywhere"/>
      <section name="listaPSI" type="SactaSectionHandler.SactaUsuarioListaPsiConfigurationHandler" allowLocation="true" allowDefinition="Everywhere"/>
      <section name="sectores" type="SactaSectionHandler.SactaUsuarioSectoresConfigurationHandler" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <sectionGroup name="SactaCentroSection">
      <section name="settings" type="SactaSectionHandler.SactaCentroConfigurationHandler" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <sectionGroup name="SactaDominioSection">
      <section name="settings" type="SactaSectionHandler.SactaDominioConfigurationHandler" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <sectionGroup name="SactaUdpSection">
      <section name="PuertosMulticast" type="SactaSectionHandler.SactaMulticastConfigurationHandler" allowLocation="true" allowDefinition="Everywhere"/>
      <section name="IpMulticast" type="SactaSectionHandler.SactaIpMulticastConfigurationHandler" allowLocation="true" allowDefinition="Everywhere"/>
      <section name="IpAddress" type="SactaSectionHandler.SactaIpAddressConfigurationHandler" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <sectionGroup name="SactaTimeOuts">
      <section name="Tiempos" type="SactaSectionHandler.SactaTimeoutsConfigurationHandler" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConexionBaseDatosCD40" connectionString="Server=localhost;Database=new_cd40_trans;Uid=root;Pwd=cd40;"/>
  </connectionStrings>
  <SactaUsuarioSection>
    <settings Origen="10" Grupo="110"/>
    <listaPSI idSpsi="111,112,113,114,7286,7287,7288,7289" idSpv="86,87,88,89,7266,7267,7268,7269"/>
    <sectores idSectores=""/>
  </SactaUsuarioSection>
  <SactaCentroSection>
    <settings Origen="107" Destino="107"/>
  </SactaCentroSection>
  <SactaDominioSection>
    <settings Origen="1" Destino="1"/>
  </SactaDominioSection>
  <SactaUdpSection>
    <PuertosMulticast PuertoOrigen="19204" PuertoDestino="15100"/>
    <IpMulticast RedA="225.12.101.1" RedB="225.212.101.1" Interfaz="192.168.110.149"/>
    <IpAddress IpRedA="192.168.110.150" IpRedB="127.0.0.1"/>
  </SactaUdpSection>
  <SactaTimeOuts>
    <Tiempos Presencia="5000" TimeOutActividad="30000"/>
  </SactaTimeOuts>
  <applicationSettings>
    <Sacta.Properties.Settings>
      <!-- En desarrollo, -->
      <setting name="Sacta_Ref_Service_ServiciosCD40" serializeAs="String">
        <value>http://localhost:63024/Servicios/Service.asmx</value>
        <!-- En EXPLOTACIÓN, Se debe configurar con La URL indicada sustituyendo dirIPCluster por la dirección IP pública del cluster      
      <value>http://dirIPCluster/NucleoDF/U5kCfg/Servicios/Service.asmx</value>      
      -->
      </setting>
    </Sacta.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!--  <add key="Sacta_Ref_Service_ServiciosCD40" value="http://localhosts/NUCLEOCC/CD40/Servicios/Service.asmx" /> -->
    <add key="Sistema" value="departamento"/>
    <add key="OrigenIp" value="192.168.110.149"/>
    <!-- En explotación, configurar con la Ip pública del cluster -->
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 20170621 AGL Para acceder al servicio desde fuera del localhost -->
    <webServices>
      <protocols>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
            <compilation debug="true" targetFramework="4.5">
        -->
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />-->
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>