<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios web para configurar los valores de la aplicación. Utilice
    la opción Sitio web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<appSettings>
	<add key="Sistema" value="departamento"/>
	<add key="MostrarMantenimiento" value="SI"/>
	<add key="MostrarVirtuales" value="SI"/>
	<add key="ListenIp" value="192.168.1.100"/>
	<add key="ListenPort" value="6002"/>
	<add key="ClusterSrv1Ip" value="192.168.1.66"/>
	<add key="ClusterSrv1Port" value="6000"/>
	<add key="ClusterSrv2Ip" value="192.168.1.67"/>
	<add key="ClusterSrv2Port" value="6001"/>
	<add key="TimeRefresStateCluster" value="2000"/>
	<add key="CrystalImageCleaner-AutoStart" value="true"/>
	<add key="CrystalImageCleaner-Sleep" value="60000"/>
	<add key="CrystalImageCleaner-Age" value="120000"/>
	<add key="ServiciosCD40.Service" value="http://localhost/NucleoDF/U5kCfg/Servicios/Service.asmx" />
	<add key="SincronizaCD30.SincronizaCD30" value="http://localhost/NucleoDF/U5kCfg/SincronizaCD30/SincronizaCD30.asmx" />
	<add key="Ref_Estadisticas.Estadisticas" value="http://localhost/NucleoDF/U5kCfg/Estadisticas/Estadisticas.asmx" />
	<add key="ServiciosMantenimiento.GestorMantenimiento" value="http://localhost/NucleoDF/U5kCfg/GestorMantenimiento/GestorMantenimiento.asmx" />
	<add key="SCV-A" value="SI"/>
	<add key="SCV-B" value="NO"/>
	<add key="Posiciones" value="SI"/>
	<add key="Servidor-1" value="SI"/>
	<add key="Servidor-2" value="NO"/>
	<add key="Reloj" value="NO"/>
	<add key="EquiposExternos" value="NO"/>
	<add key="Sacta-Lan-1" value="NO"/>
	<add key="Sacta-Lan-2" value="NO"/>
	<add key="SincronizaCD30" value="1"/>
	<add key="ImagenAltavoz1" value="Imagenes/HMI.Aena/Altavoz"/>
	<add key="ImagenAltavoz2" value="Imagenes/HMI.Aena/Altavoz"/>
	<add key="ImagenAltavoz3" value="Imagenes/HMI.Aena/Altavoz"/>
	<add key="ImagenAltavoz4" value="Imagenes/HMI.Aena/Altavoz"/>
	<add key="ImagenAltavoz5" value="Imagenes/HMI.Aena/Altavoz"/>
	<add key="ImagenAltavoz6" value="Imagenes/HMI.Aena/Altavoz"/>
	<add key="ImagenAltavoz7" value="Imagenes/HMI.Aena/Altavoz"/>
	<add key="ImagenAltavoz8" value="Imagenes/HMI.Aena/Altavoz"/>
	<add key="ImagenHMI" value="Imagenes/HMI.Aena/HMI"/>
	<add key="ImagenJacksEjecutivo" value="Imagenes/HMI.Aena/Jacks"/>
	<add key="ImagenJacksAyudante" value="Imagenes/HMI.Aena/Jacks"/>
</appSettings>
