<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="SincronizaCD30" value="0"/>
    <!-- En Desarrollo -->
    <add key="ServerManttoIp" value="127.0.0.1"/>
    <add key="Ref_InterfazSacta.ServicioInterfazSacta" value="http://localhost:51277/InterfazSacta/ServicioInterfazSacta.asmx"/>
    <!-- En EXPLOTACION, configurar con los siguientes valores: 
                            ServerManttoIp: con la dirección IP del cluster, 
                            Ref_InterfazSacta.ServicioInterfazSacta: la URL indicada. Desde la pantalla de sectorizaciones se accede periodicamente al servicio Sacta,
                                                         por lo que es muy importante configurar correctamente este parámetro, para que la pantalla funcione correctamente.
    <add key="ServerManttoIp" value="10.68.60.35" />
    <add key="Ref_InterfazSacta.ServicioInterfazSacta" value="http://localhost/NucleoDF/U5kCfg/InterfazSacta/ServicioInterfazSacta.asmx" />    
    -->
    <!-- Indicador de generación de fichero JSON para el servidor proxy interno del SCV -->
    <add key="ProxyGeneraFicheroJSON" value="SI"/>
    <add key="ProxyNombreFicheroJSON" value="proxy.json"/>
    <!-- Directorio local del buzon del servidor FTP donde se dejará el fichero  -->
    <add key="DirectorioLocalFicheroJSON" value="C:\\inetpub\\ftproot\\web_cnf\\proxy_json\\"/>
  </appSettings>
  <connectionStrings>
    <add name="ConexionBaseDatosCD40" connectionString="Server=localhost;Database=new_cd40;Uid=root;Pwd=cd40"/>
    <add name="ConexionBaseDatosCD40_Trans" connectionString="Server=localhost;Database=new_cd40_trans;Uid=root;Pwd=cd40;"/>
    <add name="ConexionBaseDatosCD30" connectionString="Server=localhost;Database=cd30;Uid=root;Pwd=cd40;"/>
  </connectionStrings>
  <log4net>
    <!--
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">     
      <param name="File" value="Servicios_LogCD40Errores.txt"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    
    -->
    <appender name="DebugViewAppender" type="log4net.Appender.OutputDebugStringAppender">
      <!--threshold value="OFF" /-->
      <layout type="log4net.Layout.PatternLayout">
        <!--param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" /-->
        <param name="ConversionPattern" value="%date [%thread] %-5p %c %m%n"/>
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Servicios_LogCD40Errores.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <!-- <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" /> -->
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <!--root>
      <level value="INFO" />
      <appender-ref ref="DebugViewAppender" />
      <level value="ERROR" />
      <appender-ref ref="LogFileAppender" />
    </root-->
    <logger name="File">
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </logger>
    <logger name="DebugView">
      <level value="ALL"/>
      <appender-ref ref="DebugViewAppender"/>
    </logger>
    <logger name="BDCD40">
      <level value="ALL"/>
      <appender-ref ref="DebugViewAppender"/>
    </logger>
    <logger name="SincroCD30">
      <level value="ALL"/>
      <appender-ref ref="DebugViewAppender"/>
    </logger>
  </log4net>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
             <compilation debug="true" targetFramework="4.5">
        -->
    <compilation targetFramework="4.5" >
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
         <add assembly="MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.505" newVersion="1.0.0.505"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>