<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="ToolsUlises5000Section" type="Ulises5000Configuration.ToolsUlises5000Section"/>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <!-- connectionStrings: sólo es necesario en desarrollo para poder editar los data source de los informes de Crystal Reports-->
  <!-- <connectionStrings>                                                                                                                                                        -->
  <!--  <add name="new_cd40_transConnectionString" connectionString="server=localhost;User Id=root;password=cd40;database=new_cd40_trans" providerName="MySql.Data.MySqlClient"/> -->
  <!-- </connectionStrings>                                                                                                                                                       -->
  <!-- connectionStrings:  -->
  <appSettings>
    <add key="Sistema" value="departamento"/>
    <add key="MostrarMantenimiento" value="SI"/>
    <add key="MostrarVirtuales" value="SI"/>
    <add key="ListenIp" value="192.168.1.111"/>
    <add key="ListenPort" value="11500"/>
    <add key="ClusterSrv1Ip" value="192.168.1.111"/>
    <add key="ClusterSrv1Port" value="6001"/>
    <add key="ClusterSrv2Ip" value="192.168.1.211"/>
    <add key="ClusterSrv2Port" value="6000"/>
    <add key="OrigenMulticastIp" value="192.168.110.145"/>
    <add key="TimeRefresStateCluster" value="2000"/>
    <!-- TimeReconexServCluster: tiempo de reconexion en ms, en caso de pérdida de la comunicación para la obtención del informacion del estado del cluster -->
    <!--                         Si no se configura, por defecto toma el valor de 60 segundos -->
    <add key="TimeReconexServCluster" value="60000"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="SCV-A" value="SI"/>
    <add key="SCV-B" value="NO"/>
    <add key="Posiciones" value="SI"/>
    <add key="Servidor-1" value="SI"/>
    <add key="Servidor-2" value="SI"/>
    <add key="Reloj" value="NO"/>
    <add key="EquiposExternos" value="NO"/>
    <add key="Sacta-Lan-1" value="NO"/>
    <add key="Sacta-Lan-2" value="NO"/>
    <add key="SincronizaCD30" value="0"/>
    <add key="Version" value="3"/>
    <!-- 0: General (Muestra todas las opciones); 1: Nouakchott 2: NDjamena; 3: ENAIRE -->
    <!-- En EXPLOTACION (Cambiar localhost por la IP del cluster o, en su defecto, la IP del servidor): -->
    <!-- <add key="UrlRetorno" value="//localhost/NucleoDF/U5kCfg/"/>  -->
    <!-- <add key="UrlMantto" value="//localhost:8090/index.html#/"/> -->
    <!-- En desarrollo: -->
    <add key="UrlMantto" value="//127.0.0.1:8090/index.html#/"/>
    <add key="UrlRetorno" value="//127.0.0.1:64053/Web/"/>
    <add key="ImagenAltavoz1" value="Imagenes/HMI.Aena/Altavoz"/>
    <add key="ImagenAltavoz2" value="Imagenes/HMI.Aena/Altavoz"/>
    <add key="ImagenAltavoz3" value="Imagenes/HMI.Aena/Altavoz"/>
    <add key="ImagenAltavoz4" value="Imagenes/HMI.Aena/Altavoz"/>
    <add key="ImagenAltavoz5" value="Imagenes/HMI.Aena/Altavoz"/>
    <add key="ImagenAltavoz6" value="Imagenes/HMI.Aena/Altavoz"/>
    <add key="ImagenAltavoz7" value="Imagenes/HMI.Aena/Altavoz"/>
    <add key="ImagenAltavoz8" value="Imagenes/HMI.Aena/Altavoz"/>
    <add key="ImagenHMI" value="Imagenes/HMI.Aena/HMI"/>
    <add key="ImagenJacksEjecutivo" value="Imagenes/HMI.Aena/Jacks"/>
    <add key="ImagenJacksAyudante" value="Imagenes/HMI.Aena/Jacks"/>
    <!-- URL de acceso a los Web services de desarrollo -->
    <add key="SincronizaCD30.SincronizaCD30" value="http://localhost:51281/SincronizaCD30/SincronizaCD30.asmx"/>
    <add key="ServiciosCD40.Service" value="http://localhost:63024/Servicios/Service.asmx"/>
    <!-- En EXPLOTACION, las URL de acceso a los Web Services deben ser las siguientes                                           -->
    <!-- <add key="SincronizaCD30.SincronizaCD30" value="http://localhost/NucleoDF/U5kCfg/SincronizaCD30/SincronizaCD30.asmx"/>       -->
    <!-- <add key="ServiciosCD40.Service" value="http://localhost/NucleoDF/U5kCfg/Servicios/Service.asmx"/>                           -->
    <!--  key="DestinoRadioIdFormatoFrecuencia": indica si el identificador del destino radio debe tener un formato determinado:                    -->
    <!--     DestinoRadioIdFormatoFrecuencia=SI el identificador deberá tener un formato determinado en función del tipo de frecuencia: VHF,UHF,HF  -->
    <!--     DestinoRadioIdFormatoFrecuencia=NO el identificador  cumplirá la expresión regular "^[\w-.]*$"                                         -->
    <!--  Si la el parámetro key="DestinoRadioIdFormatoFrecuencia" no está definido, por defecto, tomará el valor SI                                 -->
    <add key="DestinoRadioIdFormatoFrecuencia" value="NO"/>
    <add key="SistemaConSACTA" value="SI"/>
  </appSettings>
  <ToolsUlises5000Section Version="3">
    <!-- 0: General (Sólo desarrollo); 1: Nouakchott 2: NDjamena; 3: ENAIRE -->
    <!--ToolsUlises5000Section de cada versión:
      
      Version 0 (Desarrollo)
          <Tool Name="GrabacionRecursoRadio"/>
          <Tool Name="GrabacionRecursoTelefonia"/>
          <Tool Name="GrabacionPuesto"/>
          <Tool Name="RadioHF"/>
          <Tool Name="N+M"/>
          <Tool Name="SupervisionPortadora"/>
         
      Version 1 (Nouakchott)
         <Tool Name="GrabacionRecursoRadio"/>       
         <Tool Name="GrabacionPuesto"/>

      Version 2 (NJamena (ASECNA))
         <Tool Name="GrabacionRecursoRadio"/>        
         <Tool Name="GrabacionPuesto"/>
         <Tool Name="RadioHF"/>
        <Tool Name="SinTelefoniaATS" />
       
      Version 3 (ENAIRE)
         <Tool Name="GrabacionRecursoRadio"/>        
         <Tool Name="GrabacionPuesto"/>
         <Tool Name="N+M"/>
     -->
    <Tools>
      <Tool Name="GrabacionRecursoRadio"/>
      <!--<Tool Name="GrabacionRecursoTelefonia"/>-->
      <Tool Name="GrabacionPuesto"/>
      <Tool Name="RadioHF"/>
      <!-- <Tool Name="SinTelefoniaATS" />  -->
      <Tool Name="N+M"/>
      <!--<Tool Name="SupervisionPortadora"/>-->
    </Tools>
  </ToolsUlises5000Section>
  <log4net>
    <!-- 
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">         
      <param name="File" value="Web_LogCD40Errores.txt"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>

    -->
    <appender name="DebugViewAppender" type="log4net.Appender.OutputDebugStringAppender">
      <!--threshold value="OFF" /-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5p %c %m%n"/>
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Web_LogCD40Errores.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <!--root>
      <level value="INFO" />
      <appender-ref ref="DebugViewAppender" />
      <level value="ERROR" />
      <appender-ref ref="LogFileAppender" />
    </root-->
    <logger name="File">
      <level value="ERROR"/>
      <appender-ref ref="LogFileAppender"/>
    </logger>
    <logger name="DebugView">
      <level value="OFF"/>
      <appender-ref ref="DebugViewAppender"/>
    </logger>
    <logger name="CLUSTER">
      <level value="INFO"/>
      <appender-ref ref="LogFileAppender"/>
    </logger>
    <logger name="MANTENIMIENTO">
      <level value="ALL"/>
      <appender-ref ref="DebugViewAppender"/>
    </logger>
    <logger name="CONFIGURACION">
      <level value="INFO"/>
      <appender-ref ref="LogFileAppender"/>
    </logger>
  </log4net>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
      <sessionState mode="InProc" timeout="3660"/>
      <roleManager enabled="true"/>
      <globalization uiCulture="auto" culture="auto"/>
      <authentication mode="Forms">
        <forms name=".ASPXAUTH" loginUrl="Login.aspx?Timeouted=SI" protection="All" timeout="14400" path="/" requireSSL="false" slidingExpiration="true">
          <credentials passwordFormat="MD5"/>
        </forms>
      </authentication>
      <trace enabled="false" localOnly="true"/>
      <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
      <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
      <pages theme="TemaPaginasConfiguracion" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
        <controls>
          <add tagPrefix="ajaxToolKit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        </controls>
      </pages>
        -->
      <httpHandlers>
        <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      </httpHandlers>
      <siteMap defaultProvider="Spanish-Sitemap">
        <providers>
          <add name="Spanish-Sitemap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.es.sitemap"/>
          <add name="English-Sitemap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.en.sitemap"/>
          <add name="French-Sitemap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.fr.sitemap"/>
        </providers>
      </siteMap>
    </system.web>
  </location>
  <location path="Configuracion">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Mantenimiento">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <!--<location path="cluster">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>-->
  <!--<location path="GestorMantenimiento">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Servicios">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="InterfazSOAPConfiguracion">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>-->
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" preCondition="integratedMode"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
      
      En desarrollo, añadir debug="true" a la sección <compilation debug="true" targetFramework="4.5">
      En producción el debug debe estar desactivado de la compilación
      
  -->
  <system.web>
    <compilation targetFramework="4.5">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <!--
  <system.web xmlns="">
    <pages>
  </system.web>
  -->
  <runtime xmlns="">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4" newVersion="2.1.0.4"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
</configuration>